* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    max-width: 1440px;
    width: 100%;

    margin: 0 auto;
}

.header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.ul-site {
    display: flex;
    list-style: none;
    gap: 10px;

}

.a-site {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #83888f;
    text-decoration: none;
}

.log {}

.a-site:hover {
    border-bottom: 2px solid black;
}

.section-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-conteiner {
    background-image: url("../imgs/Bitmap.svg");
    background-position: unset;
    background-repeat: no-repeat;

    width: 1280px;
    height: 600px;
}

.cards {
    display: flex;
    align-items: center;


    width: 493px;
    height: 367px;
    /* padding: 20px 20px; */
    margin: 150px 90px;
}

.h1-site {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    color: #fefcf7;
}

.p-site {
    font-family: var(--second-family);
    font-weight: 400;
    padding-top: 40px;
    font-size: 16px;
    line-height: 162%;
    color: #fefcf7;
    opacity: 0.8;
}

.site-a {

    font-weight: 900;
    font-size: 18px;
    padding: 20px 20px;
    text-align: center;
    color: #fefcf7;
    text-decoration: none;
    list-style: none;
    line-height: 150px;
    background: #0e8784;
    border-radius: 6px;

}

.site-a:hover {
    background-color: #60C6C3;
}

.site-a:active {
    background: #e2dedb;
}

.log {
    padding: 0 52px;
}

.cofee-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/Group\ 13.svg");
    background-position: unset;
    background-repeat: no-repeat;


}

.table-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 40px;
    column-gap: 60px;
    list-style: none;
}

.table-h4 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #333d4b;
}

.table-p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #333d4b;
    padding: 13px 0;
}

.class {
    width: 255px;
    height: 134px;
    line-height: 30px;
}

.wrapper {
    width: 540px;
    height: 160px;
    text-align: center;
    margin-bottom: 80px;
}

.tea-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #293039;
    width: 1280px;
    height: 577px;
    padding-top: 270px;

}

.h3-wrapper {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #fefcf7;
}

.p-wrapper {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #fefcf7;
}

.h4-wrapper {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #fefcf7;
}

.wrapper-p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #fefcf7;
}

.ul-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 382px;
    list-style: none;
}

.wrapper-img {
    padding: 0px 75px;
    /* border: 1px solid red; */
}

.li-wrapper {

    width: 350px;
    height: 350px;
    background-color: #0E8784;
    padding: 90px 50px;
    margin: 30px 15px;


}

.clad {
    text-align: center;
    width: 255px;
    height: 134px;

}

.end-conteiner {

    padding: 200px 90px;
}

.srcle-h3 {
    font-size: 24px;
    margin-bottom: 80px;
    color: #333d4b;
    /* width: 18px;
height: 18px;
border-radius: 100%;
fill: #fefcf7;
stroke-width: 2px;
stroke: #0e8784;
background-color: red; */
}

.hr {}

.ota {
    display: flex;

    margin-bottom: 100px;
    align-items: center;
}

.strim {
    width: 31px;
    height: 31px;
    border: 5px solid darkcyan;
    border-radius: 50%;
}

.hr {
    width: 380px;
    border-top: 2px solid blanchedalmond;

}

.box-number {
    display: flex;
    column-gap: 150px;
}

.box {
    width: 265px;
    height: 355px;
}

.box-text {


    font-family: var(--font-family);
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    color: #fdd6ba;
}

.box-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    width: 195px;
    margin: 38px 0 42px 0;

    color: #333d4b;
}

.p-box {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
}

.btn {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: #fefcf7;
    margin: 38px 0 42px 0;
    width: 217px;
    height: 46px;
    background-color: #0E8784;
    border-radius: 2px;
    border: none;
}